/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*-------------------Fin Css reset----------------------*/

*{
  box-sizing: border-box;
}

body{

}

h1, h2, h3, h4, h5, h6{

}

@font-face {
    font-family:"sudden";
    src: url(../fonts/sudden-desires/Sudden_Desires.ttf);
}

p {
  font-family: 'Montserrat', sans-serif;
}

.contenedor{
	background-image: url("../images/background_fid.jpg");
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
}

.main-header{
  margin-top: 10px;
  width: 100%;
  background-color: transparent;
  text-align: center;
}

.clase{
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: space-around;
}

.botones-navbar{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

/* .boton-login button{
  margin: 10px;
} */

.modal-footer{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

/* .main-header h1 {
  font-family: 'Lato', sans-serif;
  font-size: 5em;
}

.main-header h2 {
  font-family: 'Lato', sans-serif;
  font-size: 1em;
} */

.fuente
{
	font-size: 20px;
	font-family: "sudden";
}
/*
.logo-mobile{
	display: block;
}

.logo-mobile img{
	width: 118px;
	height: 50px;
} */

.logo{
	display: none;
}


.logo img{
	width: 118px;
	height: 50px;
}

.banner-movile{
	position: relative;
}

.banner {
	display: none;
  /* width: 100%;
  margin: 10px auto; */
}

.icono-banner
{
	padding: 0;
}

.icono-banner img
{
	padding: 0;
	width: 30px;
	height: 30px;
}

/* .carousel-item {
  width: 100%;
} */

.main-section {
  margin: 10px 0;
  width: 100%;
  background-color: transparent;
}

.main-section h2{
  /* font-family: 'Lato', sans-serif; */
}

.main-section article{
  margin: 25px 0;
}

.articulos{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

/* ----------------------------------------------------------NAVBAR*/

.categorias
{display: none;}


.dropdown{
  margin: 10px;
}

.dropdown-toggle{
  width:100%;
}

.dropdown-menu
{
	left: unset;
	right: 0;
}


.contacto{
  margin: 20px auto;
  width: 100%
}

.formulario{
  margin: 20px auto;
  background-color: #fff;
}

.form-group{
  margin: 0 auto;
  width: 80%;
}

.btn-ttc{
  margin-left: 10%;
  width: 20%;
}


/* -------------------------------------------------------------BOXES*/
.container-boxes{
	margin: 3% 0 1% 0;
}

.box{
	position: relative;
	border: 15px solid transparent;

}

.box-items
{
	position: absolute;
	border-top: 0;
	bottom: 0;
	z-index: 9999;
	width: 100%;
	height: 100%;
	font-family: "Montserrat";
	text-align: center;
	color: white;
	background-color: rgba(0, 0, 0, 0.6);
	border-radius: 2%;
}

.box-img {
	width: 100%;
	border-radius: 2%;
}

.box-items span{
	font-size: 50px;
	font-family: "sudden";
}

/* -------------------------------------------------------------FOOTER*/

.main-header{
  margin-top: 10px;
  width: 100%;
  background-color: transparent;
  text-align: center;
}

.pie_pagina{
	width: 100%;
	background-color : rgba(22, 24, 34, 0.7);
	color: #fff;
	text-align: center;
	padding: 10px;
}

.fuente-pie
{
	font-size: 14px;
	font-family: 'Montserrat', sans-serif;
}

.footer{
	margin-top: 20px;
	margin-bottom: 20px;
}

.footer-smedia
{
	display: flex;
	padding: 5px;
	justify-content: space-around;
}

.footer-smedia-bc
{
	background-color: white;
}

.footer-media-bc
{
	background-color: white;
	font-size: 14px;
	font-family: 'Montserrat', sans-serif;
	display: none;
}

.footer-img{
	width: 40px;
	vertical-align: none;
}

.copyright{
	background-color: white;
	padding: 10px;
	color: grey;
	text-align: center;
}

/* ------------------------------------------------PREGUNTAS Y RESPUESTAS*/

.fuente-pr
{
	font-size: 20px;
	font-family: "sudden";
}
.container-cuestionario h2
{
	font-family: "sudden";

	text-align: left;
	font-size: 20px;
}

.container-cuestionario h3
{
	font-family: "Montserrat";
	text-align: left;
	font-size: 18px;
}

.container-cuestionario p
{
	font-family: "Montserrat";;
	text-align: left;
	font-size: 16px;
}

.container-cuestionario
{
	margin: 40px 0 20px 0;
}

.btn-primary
{
	color: black;
	background-color: transparent;
	border-color: black;
}

.btn-primary:hover
{
	color: black;
	background-color: transparent;
	border-color: black;
}

.btn-pr{
	margin: 5px;
}

.titulo-pr{
	margin: 20px;
}

/* ------------------------------------------------DATOS DEL USUARIO*/

.formulario_usuario{
  background-color:#fff;
  padding: 10px;
}

.fuente_formulario_usuario{
  margin: 15px 0;
	font-size: 20px;
	font-family: "sudden";

}


/*------------------------------------------------------
========================MEDIA===========================
------------------------------------------------------*/


@media (min-width: 426px)
{

	/* NAVBAR */
	.logo{
		display: block;
	}

	/* .logo-mobile img{
		display: none;
	} */

	.clase{
		display: flex;
	}

	/* BANNER */
	.banner{
		display: block;
	}

	.banner-movile{
		display: none;
	}

	/* PIE DE PAGINA */
	.pie_pagina{
	  display: flex;
	  flex-wrap: wrap;
	  flex-direction: row;
	  justify-content: space-around;
		text-align: center;
	}

	.footer
	{
		margin: 0 auto;
	}

	.footer-media-bc
	{
		display: block;
	}

	.footer-smedia-bc
	{
		display: none;
	}

	/* BOX */
	.container-boxes{
	  display: flex;
	  flex-wrap: wrap;
	  flex-direction: row;
	  justify-content: space-around;
		margin: 3% 0 1% 0;
	}

	.box{
		position: relative;
		width: 33%;
		border: 5% solid transparent;
	}

	.box-items
	{
		position: absolute;
		border-top: 0;
		bottom: 0;
		z-index: 9999;
		width: 100%;
		height: 100%;
		text-align: center;
		color: white;
		background-color: rgba(0, 0, 0, 0.6);
	}

	.box-img {
		width: 100%;
	}

	.box-items li{
		margin: 5% 0 5% 0;
		font-size: 50px;
		margin: 15px;
	}

		/* CATEGORIAS */

		.categorias
		{display: block;}

}
